*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: century;
    text-align: center;
}

main{
    background-image: linear-gradient(to top, rgba(172, 43, 43, 0.5)50%,rgba(172, 43, 43, 0.5)50% url(image.png));
    height: 100vh;
    background-position: center;
    background-size: cover;
    min-height: 100px;

}

.navber{
    width: 1200px;
    height: 75px;
    margin: auto;

}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;

}

.menu{
    width: 400px;
    float: left;
    height: 70px;

}

ul{
    float: left;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 250vh;
    height: 50px;

}

ul li{
    list-style: no;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(76, 17, 238);
    
} 

.sub-menu{
    display: none;
    top: 6%;
    position: relative;

}

.sub-menu ul{
    position: absolute;
}

.main ul li:hover .sub-menu{
    display: block;
    position: absolute;
    background-color: blue;
    margin-top: 12px;
    margin-left: -8px;
    
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px rgb(0, 0, 0);
    margin-top: 13px ;
    color: rgb(77, 2, 252);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
}

button {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.144);
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.col-4 img{
    width: 10%;
}

#img1, .texts {
    position: relative;
    right: 250px;
}

/* img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.26);
    border-radius: 15px;
} */

#img2, .texts2 {
    position: relative;
    bottom: 323px;
}

#img3, .texts3 {
    position: relative;
    bottom: 650px;
    left: 250px;
}

#h4 {
    position: relative;
    bottom: 319px;
}

#second-h4 {
    position: relative;
    bottom: 645px;
    left: 250px;
}

#img4, .texts4 {
    position: relative;
    bottom: 690px;
    right: 250px;
}

#third-h4 {
    position: relative;
    bottom: 690px;
    right: 250px;   
}

#img5, .texts5 {
    position: relative;
    bottom: 1010px;
    right: 5px;
}

#third-h5 {
    position: relative;
    bottom: 1010px;
    right: 10px;  
}

#img6, .texts6 {
    position: relative;
    bottom: 1325px;
    right: -250px; 
}

#third-h6{
    position: relative;
    bottom: 1325px;
    right: -250px; 
}